#torch==1.12.0
elasticsearch[async]
plac
sentence-transformers
spacy
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_md-0.5.4.tar.gz
tqdm
pandas
trectools
numpy
toml
dill
requests
loguru
https://github.com/Ayuei/analysis_tools_ir/releases/download/v0.0.3/analysis_tools_ir-0.0.3-py3-none-any.whl
git+https://github.com/Ayuei/allRank.git
transformers
shutup
datasets
scikit-learn
scipy
optuna
wandb
torch_optimizer
joblib
torch
